body {
  margin: 0;
  padding: 0;
}
.box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url("../images/1.jpg") no-repeat;
  background-size: 100% 100%;
  backface-visibility: hidden;
  overflow: hidden;
  width: 1200px;
  height: 675px;
}
#cas {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
}

.noOp {
  opacity: 0 !important;
}
